<h1>Sign Up Below:</h1>


<form method="post" action="/articles">  
  Name: <input id="title" type="text" name="title"><br>
  Email: <input id="content" type="text" name="content"><br>
  Password: 
  <button type="submit" value="submit">Submit</button>
</form>