<h1>Sign Up Below:</h1>


<form method="post" action="/registrations">  
   Name:
  Email: <br>
  Password: <br>
  <button type="submit" value="submit">Submit</button>
</form>


<% @heroes.each do |hero| %>
  <div class="hero">
    <h2>Hero Name: <%= hero.name %></h2><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.biography %></p><br>
  </div><br>
<% end %>