<h1>Sign Up Below:</h1>


<form method="post" action="/registrations">  

  
  
  Email: <input id="content" type="text" name="content"><br>
  Password: <input id="content" type="text" name="content"><br>
  <button type="submit" value="submit">Submit</button>
</form>